<form>
    <div class="row">
        <div class="col-md-4 offset-4">
            <br /><br />
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                    <mat-card-subtitle>Enter username and password to start Dragnet</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <br />
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>
                </mat-card-content>
                <mat-card-content></mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <div class="row">
                        <div class="col-md-4">
                            <button mat-raised-button color="primary">Login</button>
                        </div>
                        <div class="col-md-8">
                            <a mat-raised-button href="https://www.google.com/" target="_blank">Forgot Password</a>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</form>